training:
  # Summary SFT overrides.
  output_dir: ./output/12-27/new_schema-4B-summary
  logging_dir: ./tb/12-27/new_schema-4B-summary
  run_name: epoch_2
  num_train_epochs: 2
  learning_rate: 1.0e-4
  vit_lr: 1.0e-7
  aligner_lr: 1.0e-7
  save_delay_steps: 300
  warmup_ratio: 0.05
